
/* GENERAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 80%;
  max-width: 1300px;
  min-width: 600px;
  margin: 0 auto;
}


.hoverlay{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}



.img-size{
  background-size: cover;
  background-position: center;
  overflow: hidden;

}

ul{
  list-style: none;
}

p{
  font-size: .8rem;
}

h1{
  font-size: 2rem;
  color: black;
}

h4{
  color: black;
  margin-bottom: 10px;
}

main{
  color: rgb(187, 187, 187);
  
}

/* HEADER */

.header-top{
  margin-bottom: 30px;
}

.header-top img{
  width: 150px;
  padding-right: 20px;
  border-right: 1px solid rgb(242, 242, 242);
  margin-bottom: 30px;
}



/* NAVIGAZIONE */

ul li{
  display: inline-block;
}

ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(187, 187, 187);
  padding-right: 15px;
}

ul li a:hover{
  text-decoration: underline;

}

/* JUMBOTRON */


.jumbotron{
  height: 450px;
  background-image: url(../img/banner.jpg);
  border-radius: 15px;
  margin-bottom: 30px;
}


.jumbotron .text{
  max-width: 60%;
  padding-top: 25%;
  padding-left: 5%;
  color: white;
}




/* MAIN */





/* BOX1 */

main .box{
margin-bottom: 10px;
}

.main-top{
  height: 19%;
  margin-bottom: 30px;
}

.col{
  float: left;
  height: 76%;

}
.col-left{
  width: 23%;
  margin: 1% 1% 1% 0;

}

.col-center{
  width: 50%;
  margin: 1% 1% 1% 1%;

}
.col-right{
  width: 23%;
  margin: 1% 0 1% 1%;

}

main .banner{
  width: 100%;
  height: 200px;
  border-radius: 25px;

}

main .banner-left{
  background-image: url(../img/img-1.jpg);

}
main .banner-center{
  background-image: url(../img/banner-2.jpg);

}
main .banner-right{
  background-image: url(../img/img-3.jpg);

}

main .description{
  padding-top: 15px;
}


/* BOX2 */

main .box2{
  margin-bottom: 10px;
  }
  
  .main-top{
    height: 19%;
    margin-bottom: 30px;
  }
  
  .col{
    float: left;
    height: 76%;
  
  }
  .col-left2{
    width: 23%;
    margin: 1% 1% 1% 0;
  
  }
  .col-center2{
    width: 23%;
    margin: 1% 1% 1% 1%;
  
  }

  .col-center2{
    width: 23%;
    margin: 1% 1% 1% 1%;
  
  }
  .col-right2{
    width: 23%;
    margin: 1% 0 1% 1%;
  
  }
  
  main .banner{
    width: 100%;
    height: 200px;
    border-radius: 25px;
  
  }
  
  main .banner-left2{
    background-image: url(../img/img-2.jpg);
  
  }
  main .banner-center2{
    background-image: url(../img/img-6.jpg);
  }

  main .banner-center3{
    background-image: url(../img/img-5.jpg);
  
  }
  main .banner-right2{
    background-image: url(../img/img-4.jpg);
  
  }
  
  main .description{
    padding-top: 15px;
  }

/* FOOTER */

footer.container{
height: 50px;
text-align: center;
}

footer .author::after{
  content: "\02764";
  color: red;
}